.form {
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: var(--spacing-6x);
	column-gap: var(--spacing-3x);
	align-items: center;
	max-width: 450px;

	&__group {
		display: contents;
	}

	&__group-label {
		text-align: right;
		white-space: nowrap;
	}

	&__input-wrapper {
		position: relative;
	}

	&__input-box {
		box-sizing: border-box;
		border: var(--border-input);
		display: flex;
		align-items: center;
		padding: var(--spacing-2x);

		&:focus-within {
			outline: var(--border-thin);
			outline-offset: calc(0px - var(--spacing-base) - 2px);
		}

		&:hover {
			border-color: var(--black);
		}

		&--error {
			&, &:hover{
					border-color: var(--error-colour);
			}
	
			.form__icon--search {
					color: var(--error-colour);
			}
		}
	}

	&__input {
		flex-grow: 1;
		background-color: transparent;
		border: none;
		&:focus {
				outline: none;
		}
	}

	&__icon {
		&--search {
			margin-right: var(--spacing-2x);
			color: var(--border-colour-light);
		}
	}

	&__reset-button {
		background: black;
		position: absolute;
		right: var(--spacing-2x);
		border: none;
		border-radius: var(--spacing-base);
		color: white;
		margin-left: var(--spacing-2x);
		padding: var(--spacing-base);
		font-size: var(--spacing-4x);

		&:hover {
			color: grey;
		}
	}	

	&__validation-message {
		color: var(--error-colour);
		position: absolute;
		bottom: -18px;
		font-size: var(--font-size-sm);
		margin: 0;
	}

	&__select {
		border: var(--border-input);
		padding: var(--spacing-2x);
		width: 100%;
		background-color: transparent;

		&:hover {
			border-color: grey;
		}
	}

	&__button {
		grid-column: 2 / -1;
		padding: var(--spacing-2x);
		border: var(--border-input);
		background-color: var(--white);
		font-size: var(--font-size-lrg);

		&:hover {
			background-color: var(--button-hover);
		}
	}
}

//@900, put the titles on top
@media (max-width: 900px) {
	.form {
		grid-template-columns: 1fr;
		row-gap: 8px;

		&__group {
			display: block;
			margin-bottom: 16px;
		}

		&__group-label {
			text-align: left;
			margin-bottom: 4px;
			display: block;
		}

		&__button {
			grid-column: 1 / -1;
		}
	}
}

@media (max-width: 700px) {
	.form {
		width: 80%;
		max-width: 450px;
		margin: 0 auto;
	}
}