@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --font-family-questrial: 'Questrial', sans-serif;
  --font-family-sans-serif: 'Lexend', sans-serif;
  --font-family-serif: 'Times New Roman', serif;
}