@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  min-width: 350px;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: 400;
  background-color: rgb(175, 226, 207);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-family-h1: 'Sour Gummy', sans-serif;
  --font-family-sans-serif: 'Lexend', sans-serif;

  --font-size-sm: 12px;
  --font-size: 16px;
  --font-size-lrg: 18px;
  --font-size-xl: 24px;
  --font-size-h1: 60px;
  --font-size-h1-mobile: 45px;

  --spacing-base: 4px;
  --spacing-2x: 8px;
  --spacing-3x: 12px;
  --spacing-4x: 16px;
  --spacing-5x: 20px;
  --spacing-6x: 24px;
  --spacing-8x: 32px;
  --spacing-10x: 40px;

  --border: 2px solid var(--border-colour);
  --border-thin: 1px solid var(--border-colour);
  --border-input: 2px solid var(--border-colour-light);
  --border-colour: rgb(60, 60, 60);
  --border-colour-light: rgb(85, 85, 85);
  --border-width: 2px;

  --text-colour: rgb(80, 80, 80);

  --card-colour: rgb(190, 243, 224);
  --white: rgb(250, 250, 250);
  --black: rgb(5, 5, 5);
  --disabled: rgb(220, 220, 220);
  --button-hover: rgb(219, 248, 239);

  --error-colour: rgb(215, 43, 43);
}