.recipe-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
	font-family: var(--font-family-sans-serif);

	&__header {
		flex: 0 0 auto;
		padding: var(--spacing-2x) var(--spacing-4x);
	}

	&__main {
		flex: 1 1 auto;
		overflow-y: auto;
		padding: var(--spacing-5x);
	}
}

.recipe {
	&__header {
		display: grid;
		align-items: center;
		grid-template-areas:
			"title title"
			"image highlights";
		grid-template-columns: 1fr 300px;
		gap: var(--spacing-6x);
		margin-bottom: var(--spacing-6x);
	}

	&__title {
		grid-area: title;
		font-size: var(--font-size-h1);
		margin: 0;
		font-family: var(--font-family-h1);
	}

	&__image {
		background-color: var(--white);
		grid-area: image;
		padding: var(--spacing-base);

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__highlights-container {
		box-sizing: border-box;
		margin-top: var(--spacing-3x);
		padding: var(--spacing-base) var(--spacing-4x);
		background-color: var(--card-colour);
		width: max-content;
		max-width: 280px;
	}
	&__highlights-text {
		margin: var(--spacing-2x) 0;
		line-height: 1.5;
	}


	&__pill {
		display: inline-block;
		margin: var(--spacing-2x);
		padding: var(--spacing-base) var(--spacing-4x);
		border-radius: var(--spacing-4x);
		color: var(--white);
		font-weight: bold;
		background-color: rgb(157, 140, 18);

		&--veggie {
			background-color: rgb(12, 121, 12);
		}

		&--dairy {
			background-color: rgb(69, 119, 247);
		}

		&--gluten {
			background-color: rgb(215, 75, 60);
		}
	}

	&__ingredients {
		max-width: 800px;
		padding: var(--spacing-2x) var(--spacing-2x) var(--spacing-2x) var(--spacing-5x);
		border-bottom: var(--border-thin);
		border-top: var(--border-thin);

		ul {
			padding-left: var(--spacing-4x);
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: var(--spacing-6x);
			row-gap: var(--spacing-base);
		}
	}

	&__ingredient-item {
		margin: 0;
		line-height: 1.5;
	}

	&__instructions {
		max-width: 800px;
		padding-left: var(--spacing-5x);
	}

	&__instructions-step {
		margin-bottom: var(--spacing-4x);
	}

	&__list {
		padding-left: var(--spacing-4x);
	}
}


@media (max-width: 800px) {
	.recipe {
		&__header {
			grid-template-areas:
			"title"
			"image"
			"highlights";
			grid-template-columns: 1fr;
		}
		&__highlights-container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 100%;
			max-width: initial;
		}

		&__highlights-text {
			display: flex;
			flex-direction: column;
			max-width: 55%;
		}

		&__ingredients {
			ul {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media (max-width: 500px) {
	.recipe {
		&__title {
			font-size: var(--font-size-h1-mobile);
		}
		&__highlights-container {
			flex-direction: column;
			flex-wrap: wrap;
			width: 80%;
			margin: 0 auto;
			max-width: initial;
		}

		&__highlights-text {
			flex-direction: row;
			gap: var(--spacing-2x);
			max-width: 100%;
		}

		&__ingredients {
			ul {
				grid-template-columns: 1fr;
			}
		}

		&__pill-bar {
			width: 80%;
			margin: 0 auto;
		}
	}
}