.recipe-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__header {
		flex: 0 0 auto;
		padding: 8px 16px;
	}

	&__main {
		flex: 1 1 auto;
		overflow-y: auto;
		padding: 20px;
	}
}

.recipe {
	&__header {
		display: flex;
		align-items: center;
		gap: 24px;
		margin-bottom: 24px;
	}

	&__image {
		background-color: white;
		padding: 4px;
		width: 40%;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__highlights {
		width: 60%;
	}

	&__pill {
		display: inline-block;
		margin-right: 16px;
		padding: 4px 16px;
		border-radius: 16px;
		background-color: yellow;
		color: black;

		&--veggie {
			background-color: green;
		}

		&--dairy {
			background-color: blue;
		}

		&--gluten {
			background-color: red;
		}
	}
}

@media (max-width: 1150px) {
	.recipe {
		&__highlights, &__image {
			width: 50%;
		}
	}
}

@media (max-width: 850px) {
	.recipe {
		&__header {
			flex-direction: column;
		}

		&__highlights, &__image {
			width: 100%;
		}
	}
}