.recipes {
	&-container {
		list-style: none;
	}

	&-card {
		display: flex;
		gap: 12px;
		padding: 4px;
		border: 2px solid white;
		margin-bottom: 16px;
	}

	&-card-image {
		height: 100px;
		width: 100px;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}