.recipes {
	&__container {
		list-style: none;
		padding-left: 0;
	}

	&__card {
		display: flex;
		gap: var(--spacing-3x);
		padding: var(--spacing-base);
		border: var(--border-thin);
		margin-bottom: var(--spacing-4x);
		align-items: stretch;
		background-color: var(--card-colour);
	}

	&__image {
		flex-shrink: 0;
		height: 100%;
		max-width: 150px;
		align-self: center;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			align-self: center;
			border: 2px solid var(--white);
		}
	}

	&__link {
		display: inline-block;
		margin-top: var(--spacing-2x);
		padding: var(--spacing-base) var(--spacing-2x);
		border: var(--border);
		color: var(--black);
		text-decoration: none;
		background-color: var(--white);
		&:hover {
			background-color: var(--button-hover);
		}

		&:focus {
			outline: var(--border-thin);
			outline-offset: calc(0px - var(--spacing-base) - 1px);
		}

		.sr-only {
			position: absolute;
			opacity: 0;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-2x);

	&__button {
		border: var(--border-thin);
		border-radius: var(--spacing-base);
		padding: 4px 2px;
		background-color: var(--white);
		font-size: var(--font-size-lrg);
		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--button-hover);
		}

		&:focus {
			outline: var(--border-thin);
			outline-offset: calc(0px - var(--spacing-base));
		}

		&:disabled {
			background-color: var(--disabled);
		}
	}
}

@media (max-width: 700px) {
	.recipes {
		&-container {
			padding-left: 0;
		}
	}
}

@media (max-width: 450px) {
	.recipes {
		&__image {
			max-width: 100px;
		}
	}
}