.home {
	&__main {
		box-sizing: border-box;
		display: flex;
		height: 100%;
		min-height: 100vh;
		padding: 20px;
		width: 100%;
		max-width: 1400px;
	}
	&__search {
		text-align: center;
		width: 40%;
	}

	&__title {
		font-family: var(--font-family-h1);
		font-size: var(--font-size-h1);
	}

	&__content {
		font-family: var(--font-family-sans-serif);
		width: 60%;
		height: 100%;
		margin-left: 50px;

		.no-results,
		.loading-results {
			font-size: var(--font-size-xl);
			margin-top: 200px;
			text-align: center;
		}

		.error {
			margin-top: 200px;
			border: 2px solid var(--error-colour);
			border-radius: 4px;
			background-color: rgb(254, 130, 130);
			padding: var(--spacing-3x);
			text-align: center;

			&__icon {
				margin-right: var(--spacing-3x);
			}
		}
	}
}

@media (max-width: 700px) {
	.home {
		&__main {
			flex-direction: column;
			align-items: center;
		}

		&__search,
		&__content {
			width: 100%;
			max-width: 500px;
			margin-left: 0;
		}

		&__content {
			.no-results,
			.loading-results,
			.error {
				margin-top: 60px;
			}
		}
	}
}

@media (max-width: 450px) {
	.home {
		&__title {
			font-size: var(--font-size-h1-mobile);
		}
	}
}