.home {
	&__main {
		box-sizing: border-box;
		display: flex;
		height: 100%;
		min-height: 100vh;
		padding: 20px;
		width: 100%;
		max-width: 1400px;
	}
	&__search {
		text-align: center;
		width: 40%;
	}

	&__content {
		width: 60%;
		height: 100%;
		margin-left: 50px;

		.no-results {
			margin-top: 100px;
			text-align: center;
		}
	}
}

@media (max-width: 700px) {
	.home {
		&__main {
			flex-direction: column;
			align-items: center;
		}

		&__search,
		&__content {
			width: 100%;
			max-width: 500px;
			margin-left: 0;
		}
	}
}